@import url("http://fonts.googleapis.com/css?family=Poppins");

*{
    box-sizing: border-box;
}

body{
    display: flex;
    background-image: url(./fondo3.png);
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: "Poppins",sans-serif;
    overflow: hidden;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 15px;
}

button{
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    border: 1px solid #4bb6b7;
    background-color: #000000;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out; 
}
button:hover{
    letter-spacing: 3px;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}

button.ghost{
    background-color: rgb(225, 225, 225,0.2);
    border: 2px solid #fff;
    color: #fff;
}

form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    text-align: center;
    border-radius: 15px;
}

header{
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 30%;
    text-align: center;
    border-radius: 15px;
}

input{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#todo{
    background-color: rgb(192, 192, 192);
    backdrop-filter: blur(8px);
    width: 600px;
}

select{
    background-color: rgb(233, 230, 230) ;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
}